@font-face {
  font-family: "iconfont"; /* Project id 2658199 */
  src: url('iconfont.woff2?t=1626076717854') format('woff2'),
       url('iconfont.woff?t=1626076717854') format('woff'),
       url('iconfont.ttf?t=1626076717854') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-template_delete:before {
  content: "\e602";
}

.icon-reduce:before {
  content: "\e601";
}

.icon-add:before {
  content: "\e610";
}

.icon-x:before {
  content: "\e600";
}

.icon-xialakuang1:before {
  content: "\e675";
}

.icon-duohangwenben:before {
  content: "\e64d";
}

.icon-mobanzhizuo_danhangwenben:before {
  content: "\e695";
}

.icon-danxiangxuanze:before {
  content: "\e611";
}

.icon-duoxiangxuanze:before {
  content: "\e604";
}

